---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <section class="container mx-auto my-10 px-4 sm:px-8 xl:px-4">
    <div class="my-16 grid grid-cols-12 gap-8">
      <div class="col-span-12 lg:col-span-7">
        <div class="mb-8 flex items-center justify-between border-b-[3px] pb-2">
          <h2
            class="relative text-2xl font-bold text-default-600 after:absolute after:-bottom-[11px] after:left-0 after:h-[3px] after:w-full after:bg-main after:content-['']"
          >
            Do you have questions?
          </h2>
        </div>
        <form class="grid grid-cols-4 gap-5" id="contact-form">
          <div class="relative col-span-2">
            <input
              type="text"
              id="contact-name"
              name="name"
              class="peer block w-full appearance-none rounded-lg border-0 bg-white px-2.5 pb-2.5 pt-5 text-sm text-default-500 shadow focus:outline-none focus:ring-0"
              placeholder=" "
              required=""
            />
            <label
              for="contact-name"
              class="z-1 pointer-events-none absolute left-2.5 top-4 origin-[0] -translate-y-4 scale-75 transform text-sm text-default-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-main"
            >
              Name
            </label>
          </div>
          <div class="relative col-span-2">
            <input
              type="email"
              id="contact-email"
              name="email"
              class="peer block w-full appearance-none rounded-lg border-0 bg-white px-2.5 pb-2.5 pt-5 text-sm text-default-500 shadow focus:outline-none focus:ring-0"
              placeholder=" "
              required=""
            />
            <label
              for="contact-email"
              class="z-1 pointer-events-none absolute left-2.5 top-4 origin-[0] -translate-y-4 scale-75 transform text-sm text-default-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-main"
            >
              Email
            </label>
          </div>
          <div class="col-span-4">
            <select
              class="h-[50px] w-full rounded-lg border-transparent shadow focus:border-transparent focus:ring-0 sm:col-span-1"
              id="contact-subject"
              name="subject"
            >
              <option value="-">Subject</option>
              <option value="refund">Refund</option>
              <option value="techinal-problem">Technical problem</option>
              <option value="delivery-issue">Delivery issue</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div
            class="relative col-span-4 mb-5 w-full overflow-hidden rounded-lg bg-white pr-4 shadow"
          >
            <textarea
              id="contact-message"
              name="message"
              class="form-content peer mx-2.5 mb-2.5 mt-5 block max-h-[200px] min-h-[130px] w-full resize-none appearance-none border-0 text-sm text-default-500 focus:outline-none focus:ring-0"
              placeholder=" "
              required=""></textarea>

            <label
              for="message"
              class="z-1 pointer-events-none absolute left-2.5 top-4 origin-[0] -translate-y-4 scale-75 transform text-sm text-default-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-main"
            >
              Message
            </label>
          </div>
          <div class="col-span-2">
            <button
              class="flex items-center gap-2 whitespace-nowrap rounded-lg bg-black p-[14px] font-semibold text-white transition-all duration-300"
              type="submit"
              id="submit-button"
            >
              Send message
            </button>
          </div>
        </form>
      </div>
      <div class="col-span-12 lg:col-span-5">
        <div class="mb-8 flex items-center justify-between border-b-[3px] pb-2">
          <h2
            class="relative text-2xl font-bold text-default-600 after:absolute after:-bottom-[11px] after:left-0 after:h-[3px] after:w-full after:bg-main after:content-['']"
          >
            Get in touch with us
          </h2>
        </div>
        <div class="my-5 flex gap-5">
          <div
            class="flex h-10 min-w-[40px] items-center justify-center self-center rounded-full bg-main text-white"
          >
            <svg
              class="h-6 w-6"
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 512 512"
              height="200px"
              width="200px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
                d="M80 212v236a16 16 0 0 0 16 16h96V328a24 24 0 0 1 24-24h80a24 24 0 0 1 24 24v136h96a16 16 0 0 0 16-16V212"
              ></path>
              <path
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
                d="M480 256 266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256m368-77V64h-48v69"
              ></path>
            </svg>
          </div>
          <div>
            <h3 class="text-base font-bold text-main">Address</h3>
            <p>Chandan Nagar(Hisar), Haryana, India 125004</p>
          </div>
        </div>
        <div class="my-5 flex gap-5">
          <div
            class="flex h-10 min-w-[40px] items-center justify-center self-center rounded-full bg-main text-white"
          >
            <svg
              class="h-6 w-6"
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="200px"
              width="200px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
              ></path>
            </svg>
          </div>
          <div>
            <h3 class="text-base font-bold text-main">Contact No.</h3>
            <p>(+91) 99963-84086</p>
          </div>
        </div>
        <div class="my-5 flex gap-5">
          <div
            class="flex h-10 min-w-[40px] items-center justify-center self-center rounded-full bg-main text-white"
          >
            <svg
              class="h-6 w-6"
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 16 16"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
              ></path>
            </svg>
          </div>
          <div>
            <h3 class="text-base font-bold text-main">Email</h3>
            <p>fuzioncoolers@gmail.com</p>
          </div>
        </div>
        <div class="my-5 flex gap-5">
          <div
            class="flex h-10 min-w-[40px] items-center justify-center self-center rounded-full bg-main text-white"
          >
            <svg
              class="h-6 w-6"
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              baseProfile="tiny"
              viewBox="0 0 24 24"
              height="200px"
              width="200px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.839 17.525c-.006.002-.559.186-1.039.186-.265 0-.372-.055-.406-.079-.168-.117-.48-.336.054-1.4l1-1.994c.593-1.184.681-2.329.245-3.225-.356-.733-1.039-1.236-1.92-1.416-.317-.065-.639-.097-.958-.097-1.849 0-3.094 1.08-3.146 1.126-.179.158-.221.42-.102.626.12.206.367.3.595.222.005-.002.559-.187 1.039-.187.263 0 .369.055.402.078.169.118.482.34-.051 1.402l-1 1.995c-.594 1.185-.681 2.33-.245 3.225.356.733 1.038 1.236 1.921 1.416.314.063.636.097.954.097 1.85 0 3.096-1.08 3.148-1.126.179-.157.221-.42.102-.626-.12-.205-.369-.297-.593-.223z"
              ></path>
              <circle cx="13" cy="6.001" r="2.5"></circle>
            </svg>
          </div>
          <div>
            <h3 class="text-base font-bold text-main">Store Info</h3>
            <p>Monday – Friday 10 AM – 8 PM</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
></script>
