---
import MainLayout from "@/layouts/MainLayout.astro";

const SERVICE_ID = process.env.EMAIL_JS_SERVICE_ID as string;
const CONTACT_TEMPLATE_ID = process.env.EMAIL_JS_CONTACT_TEMPLATE_ID as string;
const API_KEY = process.env.EMAIL_JS_API_KEY as string;
---

<MainLayout>
  <section class="container mx-auto my-10 px-4 sm:px-8 xl:px-4">
    <div class="my-16 grid grid-cols-12 gap-8">
      <div class="col-span-12 lg:col-span-7">
        <div class="mb-8 flex items-center justify-between border-b-[3px] pb-2">
          <h2
            class="relative text-2xl font-bold text-default-600 after:absolute after:-bottom-[11px] after:left-0 after:h-[3px] after:w-full after:bg-main after:content-['']"
          >
            Do you have questions?
          </h2>
        </div>
        <form class="grid grid-cols-4 gap-5" id="contact-form">
          <div class="relative col-span-2">
            <input
              type="text"
              id="contact-name"
              name="name"
              class="peer block w-full appearance-none rounded-lg border-0 bg-white px-2.5 pb-2.5 pt-5 text-sm text-default-500 shadow focus:outline-none focus:ring-0"
              placeholder=" "
              required
            />
            <label
              for="contact-name"
              class="z-1 pointer-events-none absolute left-2.5 top-4 origin-[0] -translate-y-4 scale-75 transform text-sm text-default-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-main"
            >
              Name
            </label>
          </div>
          <div class="relative col-span-2">
            <input
              type="email"
              id="contact-email"
              name="email"
              class="peer block w-full appearance-none rounded-lg border-0 bg-white px-2.5 pb-2.5 pt-5 text-sm text-default-500 shadow focus:outline-none focus:ring-0"
              placeholder=" "
              required
            />
            <label
              for="contact-email"
              class="z-1 pointer-events-none absolute left-2.5 top-4 origin-[0] -translate-y-4 scale-75 transform text-sm text-default-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-main"
            >
              Email
            </label>
          </div>
          <div class="col-span-4">
            <select
              class="h-[50px] w-full rounded-lg border-transparent shadow focus:border-transparent focus:ring-0 sm:col-span-1"
              id="contact-subject"
              name="subject"
            >
              <option value="-">Subject</option>
              <option value="refund">Refund</option>
              <option value="technical-problem">Technical problem</option>
              <option value="delivery-issue">Delivery issue</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div
            class="relative col-span-4 mb-5 w-full overflow-hidden rounded-lg bg-white pr-4 shadow"
          >
            <textarea
              id="contact-message"
              name="message"
              class="form-content peer mx-2.5 mb-2.5 mt-5 block max-h-[200px] min-h-[130px] w-full resize-none appearance-none border-0 text-sm text-default-500 focus:outline-none focus:ring-0"
              placeholder=" "
              required></textarea>
            <label
              for="message"
              class="z-1 pointer-events-none absolute left-2.5 top-4 origin-[0] -translate-y-4 scale-75 transform text-sm text-default-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-main"
            >
              Message
            </label>
          </div>
          <div class="col-span-2">
            <button
              class="flex items-center gap-2 whitespace-nowrap rounded-lg bg-black p-[14px] font-semibold text-white transition-all duration-300"
              type="submit"
              id="submit-button"
            >
              Send message
            </button>
          </div>
        </form>
      </div>
      <div class="col-span-12 lg:col-span-5">
        <!-- Contact Details Section -->
      </div>
    </div>
  </section>
</MainLayout>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>

<script is:inline define:vars={{ SERVICE_ID, CONTACT_TEMPLATE_ID, API_KEY }}>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.querySelector("#submit-button");
    const form = document.querySelector("#contact-form");

    if (form) {
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        btn.innerHTML = `
          <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg> Sending`;

        emailjs.init(API_KEY);

        emailjs.sendForm(SERVICE_ID, CONTACT_TEMPLATE_ID, form).then(
          () => {
            btn.textContent = "Send message";
            form.reset();
            alert("Message sent successfully!");
          },
          (err) => {
            btn.textContent = "Send message";
            alert(`Error: ${JSON.stringify(err)}`);
          }
        );
      });
    }
  });
</script>
