<footer class="bg-main text-default-200">
  <div class="container mx-auto px-4 sm:px-8 xl:px-4">
    <div class="hidden lg:block">
      <div class="grid grid-cols-12 gap-x-20 gap-y-10 pt-10">
        <div class="col-span-4">
          <h1
            class="relative mb-5 pb-2 text-lg font-semibold text-black after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-16 after:bg-main after:content-['']"
          >
            About Information
          </h1>
          <p class="leading-6 text-black">
            Crafting quality air coolers for a refreshing tomorrow, we're your
            trusted cooling partner. Experience enhanced comfort with our
            precision-crafted air cooling solutions, where every breath counts.
          </p>
        </div>
        <div class="col-span-4">
          <h1
            class="relative mb-5 pb-2 text-lg font-semibold text-black after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-16 after:bg-main after:content-['']"
          >
            Quick Links
          </h1>
          <ul class="text-black">
            <li class="pb-2">
              <a class="transition-all duration-300 hover:text-black" href="/">
                Home
              </a>
            </li>
            <li class="pb-2">
              <a
                class="transition-all duration-300 hover:text-black"
                href="/about"
              >
                About us
              </a>
            </li>
            <li class="pb-2">
              <a
                class="transition-all duration-300 hover:text-black"
                href="/contact"
              >
                Contact us
              </a>
            </li>
            <li class="pb-2">
              <a
                class="transition-all duration-300 hover:text-black"
                href="/category/air-coolers"
              >
                New products
              </a>
            </li>
          </ul>
        </div>
        <div class="col-span-4">
          <h1
            class="relative mb-5 pb-2 text-lg font-semibold text-black after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-16 after:bg-main after:content-['']"
          >
            Contact Us
          </h1>
          <ul class="text-black">
            <li class="flex items-center gap-2 pb-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-6 w-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>Chandan Nagar(Hisar), Haryana, India 125004</span>
            </li>
            <li class="flex items-center gap-2 pb-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-6 w-6"
              >
                <path
                  d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                ></path>
                <path
                  d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                ></path>
              </svg>

              <a
                class="transition-all duration-300 hover:text-black"
                href="mailto:fuzioncoolers@gmail.com"
              >
                fuzioncoolers@gmail.com
              </a>
            </li>
            <li class="flex items-center gap-2 pb-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-6 w-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>
                <a href="tel:+919996384086">(+91) 99963-84086</a>
              </span>
            </li>
          </ul>
          <div class="flex items-center gap-5 pt-5">
            <a class="transition-all duration-300 hover:text-black" href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="h-6 w-6"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                ></path>
              </svg>
            </a>
            <a class="transition-all duration-300 hover:text-black" href="#">
              <svg
                class="h-6 w-6"
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 512 512"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
                ></path>
              </svg>
            </a>
            <a class="transition-all duration-300 hover:text-black" href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="h-6 w-6"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
        <div
          class="col-span-12 flex flex-col items-center gap-2 border-t border-black py-5 text-xs"
        >
          <span class="text-black">
            Copyright ©
            <span class="current-year"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="lg:hidden">
      <ul class="metismenu py-5">
        <li class="transition-all duration-300">
          <div
            class="sub-metismenu has-arrow cursor-pointer py-3 font-bold text-black"
            aria-expanded="false"
            role="menu"
          >
            About Information
          </div>
          <div class="metismenu-content">
            <p class="leading-6 line-clamp-3">
              Crafting quality air coolers for a refreshing tomorrow, we're your
              trusted cooling partner. Experience enhanced comfort with our
              precision-crafted air cooling solutions, where every breath
              counts.
            </p>
          </div>
        </li>
        <li class="transition-all duration-300">
          <div
            class="sub-metismenu has-arrow cursor-pointer py-3 font-bold text-black"
            aria-expanded="false"
            role="menu"
          >
            Quick Links
          </div>
          <div class="metismenu-content">
            <ul>
              <li class="pb-2">
                <a
                  class="transition-all duration-300 hover:text-black"
                  href="/"
                >
                  Home
                </a>
              </li>
              <li class="pb-2">
                <a
                  class="transition-all duration-300 hover:text-black"
                  href="/about"
                >
                  About us
                </a>
              </li>
              <li class="pb-2">
                <a
                  class="transition-all duration-300 hover:text-black"
                  href="/contact"
                >
                  Contact us
                </a>
              </li>
              <li class="pb-2">
                <a
                  class="transition-all duration-300 hover:text-black"
                  href="/category/air-coolers"
                >
                  Coolers
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="transition-all duration-300">
          <div
            class="sub-metismenu has-arrow cursor-pointer py-3 font-bold text-black"
            aria-expanded="false"
            role="menu"
          >
            Contact Us
          </div>
          <div class="metismenu-content">
            <ul>
              <li class="flex items-center gap-2 pb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    fill-rule="evenodd"
                    d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Chandan Nagar(Hisar), Haryana, India 125004 </span>
              </li>
              <li class="flex items-center gap-2 pb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                  ></path>
                  <path
                    d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                  ></path>
                </svg>

                <a
                  class="transition-all duration-300 hover:text-black"
                  href="mailto:fuzioncoolers@gmail.com"
                >
                  fuzioncoolers@gmail.com
                </a>
              </li>
              <li class="flex items-center gap-2 pb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                    clip-rule="evenodd"></path>
                </svg>
                <span>
                  <a href="tel:+919996384086">(+91) 99963-84086</a>
                </span>
              </li>
            </ul>
            <div class="flex items-center gap-5 pt-5">
              <a class="transition-all duration-300 hover:text-black" href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="h-6 w-6"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                  ></path>
                </svg>
              </a>
              <a class="transition-all duration-300 hover:text-black" href="#">
                <svg
                  class="h-6 w-6"
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 512 512"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
                  ></path>
                </svg>
              </a>
              <a class="transition-all duration-300 hover:text-black" href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="h-6 w-6"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </li>
      </ul>
      <div
        class="flex flex-col items-center gap-2 border-t border-slate-400 py-5 text-xs"
      >
        <span class="text-black">
          Copyright ©
          {new Date().getFullYear()}
        </span>
      </div>
    </div>
  </div>
</footer>
