---
import { categories } from "@/utils/mockData";
import DynamicCartIcon from "@/components/DynamicCartIcon";
import { User2Icon } from "lucide-react";

const navItems = [
  { name: "Home", path: "/" },
  { name: "About Us", path: "/about" },
  { name: "Contact Us", path: "/contact" },
  { name: "Brochure", path: "/brochure" },
];

const { cookies, locals } = Astro;
const location = Astro.url;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

const accessibleIPS = import.meta.env.AccessibleIPS.split(",");
const userIP =
  Astro.request.headers.get("x-forwarded-for") || Astro.clientAddress;

const accessible = accessibleIPS.includes(userIP); // Use the IP check result passed in locals

let accountRoute = "/login";
if (accessToken && refreshToken) {
  accountRoute = "/admin";
}
---

<header
  class="relative z-10 bg-[#f5f7fe] shadow-md transition-all duration-300"
>
  <div class="container mx-auto px-4 sm:px-8 xl:px-4">
    <div class="flex w-full items-center py-5 lg:justify-between">
      <a href="/" class="mr-auto flex items-center gap-2 lg:mr-0">
        <span class="text-2xl font-semibold">
          Fu<span class="text-main">zion&reg</span>
        </span>
      </a>
      <div class="flex items-center gap-5">
        <DynamicCartIcon client:load />
        {
          accessible && (
            <a
              href={accountRoute}
              title={accountRoute == "/login" ? "Login" : "Go to your profile"}
            >
              <User2Icon />
            </a>
          )
        }
      </div>
    </div>
  </div>
</header>
