---
import "@/styles/global.css";
import { ViewVerticalIcon } from "@radix-ui/react-icons";
import { Sheet, SheetContent, SheetTrigger } from "@/components/ui/sheet";
import { Button } from "@/components/ui/button";
import { Toaster } from "@/components/ui/toaster";
import AdminMobileNav from "@/components/admin-header-mobile";
import AdminHeader from "@/components/admin-header";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Fuzion: Your One-Stop Shop for Almirahs, Air Coolers, Iron Rods &
      Electronics
    </title>
    <meta
      name="description"
      content="Shop high-quality almirahs, efficient air coolers, durable iron rods, and a wide range of electronics at Fuzion. Enjoy great deals and fast shipping!"
    />
    <meta
      name="keywords"
      content="almirahs, air coolers, iron rods, electronics, home appliances, furniture, Fuzion"
    />
    <meta name="robots" content="index, follow" />

    <meta
      property="og:title"
      content="Fuzion: Your One-Stop Shop for Almirahs, Air Coolers, Iron Rods & Electronics"
    />
    <meta
      property="og:description"
      content="Explore a wide range of quality products including almirahs, air coolers, iron rods, and electronics at Fuzion. Shop now!"
    />
    <meta
      property="og:image"
      content="https://www.fuzioncoolers.com/img/about.JPG"
    />
    <meta property="og:url" content="https://www.fuzioncoolers.com" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Fuzion: Your One-Stop Shop for Almirahs, Air Coolers, Iron Rods & Electronics"
    />
    <meta
      name="twitter:description"
      content="Shop high-quality almirahs, efficient air coolers, durable iron rods, and more at Fuzion."
    />
    <meta
      name="twitter:image"
      content="https://www.fuzioncoolers.com/img/about.JPG"
    />

    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon" />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <Toaster />
    <div class="flex h-screen bg-gray-100">
      <div class="flex h-screen absolute sm:relative bg-gray-100">
        <AdminHeader client:load />
        <div class="flex flex-1 flex-col overflow-hidden">
          <header class="w-full">
            <div
              class="flex h-16 items-center justify-between border-b border-gray-200 bg-white px-4"
            >
              <AdminMobileNav client:load />
            </div>
          </header>
        </div>
      </div>
      <div class="flex flex-col flex-1 overflow-hidden">
        <header class="bg-white shadow-sm">
          <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
            <h1
              class="text-lg font-semibold text-gray-900 relative left-12 sm:left-0"
            >
              {title}
            </h1>
          </div>
        </header>
        <main
          class="flex-1 overflow-x-hidden overflow-y-auto p-3 sm:p-5 bg-gray-100 z-10"
        >
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
